body{
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
    box-sizing: border-box;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    background-color: rgb(228, 12, 12);
    color: white;
    text-decoration: none;
    height: 50px;
    color: rgb(31, 21, 21);
    padding-right: 49px;
    font-weight: 700;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active{
    color: white;
    text-decoration: none;
}
.inActive{
    color: rgb(22, 18, 18);
    text-decoration: none;
}
.pikachu{
    width: 187vh;
    height: 58vh;
    display: flex;
    justify-content: center;
}
h1{
    margin: 64px;
}
.select__class{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.form-select{
    width: 30%;
}
.card{
    width: 25rem;
    display: flex;
    flex-direction: row;
}
.pokemon{
    width: 169px;
}
.pokeBola{
    /* background-image: url('../src/assets/pokemon-icon.png'); */
}